/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/
.error-404 {
    @include media-breakpoint-up(xxl) {
        position: relative;
        top: -4rem;
        margin-bottom: -4rem;
    }
}

.error-content {
    .error-logo {
        font-size: 21.75rem;
        line-height: 0.75;
        color: #303030;

        @include media-breakpoint-down(md) {
            font-size: 17.75rem;
        }
    }

    h3 {
        font-size: 2.8125rem;
    }
}