
/* ----------------------------------------------------------------

	Service.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Service
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for service pages. Thanks!
-----------------------------------------------------------------*/
.service {
	background-image: url(../images/service.png);
    background-repeat: no-repeat;
    background-size: 100%;

	.slick-slide {
		height: auto !important;
	}

	@include media-breakpoint-up(lg) {
		padding: 20rem 0 5rem;
	}
}