
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/

.fbox {	
	flex: 1;
	position: relative;
	margin-bottom: 1.875rem;
}

.fbox-icon {
	img {
		max-width:3rem;
	}
}

.fbox-header {
	h3 {
		font-size: 3.125rem;
		line-height: 1;
	}
}