
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
	.icon-header {
		h5 {
			font-family: $body-font;
			font-size: 0.875rem;
			font-weight: 600;
			color: #7f7f7f;
		}

		h4 {
			font-size: 1.875rem;
		}

		span {
			display: block;
			color: $theme-color;
		}
	}
}