
/* ----------------------------------------------------------------

	team.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Team
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for team pages. Thanks!
-----------------------------------------------------------------*/

.team {
    position: relative;
    margin-bottom: 1rem;

    .team-image {
        img {
            width: 100%;
            border-radius: 2rem;
        }
    }

    .team-details {
        padding: 1.5rem 2.5rem;
    }

    .team-title {
        font-size: 1.25rem;
    }
}