.testimonial {
    .testimonial-title {
        font-size: 1.875rem;
        color: $theme-color;
        line-height: 1;
    }

    .testimonial-info {
        font-size: 0.875rem;
        color: #979797;
    }
}